PORT=
MONGO_URL=mongodb://<db_user>:<pass>@ac-ilzh9e6-shard-00-00.mssojjf.mongodb.net:27017,ac-ilzh9e6-shard-00-01.mssojjf.mongodb.net:27017,ac-ilzh9e6-shard-00-02.mssojjf.mongodb.net:27017
NODE_ENV=
BCRYPT_SALT=
DEFAULT_PASS=
JWT_SECRET=
JWT_SECRET_EXP=
JWT_REFRESH_SECRET=
JWT_REFRESH_SECRET_EXP=
SMTP_USER=
SMTP_PASS=
RESET_UI_LINK=http://localhost:5173
CLOUDINARY_URL=
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
SUPER_ADMIN_PASS=